:root {
  --primary-color: #FFCC00;
  --secondary-color: #6C63FF;
  --accent-color: #FF5C5C;
  --background-dark: #1E1E1E;
  --text-white: #FFFFFF;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-dark);
  color: var(--text-white);
  overflow-x: hidden;
}
